<div class="center jumbotron">
  <img alt="Rails logo"width="600px"src="/assets/hihi.png">
<h1>Biệt đội siêu anh hùng </h1>
<h2>nhấn vào link để gia nhập với chúng tôi
  <a href="https://www.railstutorial.org/"><3
    </h2>
    <%=link_to"Sign up now!", signup_path ,class:"btn btn-lg btn-primary"%>
    </div>

    <img alt="Rails logo"width="200px"src="/assets/rails-logo.png">

